<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <!--Rien pour le momment-->
    <add key="CustID" value="223"/>
    <add key="Pwd" value="AtSos2014%"/>
  </appSettings>
  
  <connectionStrings>
    <add name="Connection_Base_Horaire" connectionString="Data Source=192.168.0.6\MSSQLSERV2014;Initial Catalog=Horairemed;Persist Security Info=True;User ID=sa;Password=prazine" providerName="System.Data.SqlClient"/>
    <add name="Connection_Smart_Rapport" connectionString="Data Source=192.168.0.6\MSSQLSERV2014;Initial Catalog=SmartRapport;Persist Security Info=True;User ID=sa;Password=prazine" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
